@{
    ViewBag.Title = "About";
}
<section class="py-20">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-center">
                            <img src="~/Uploads/dddw-min.png" class="w-100"/>
                        </div>
                        <div class="col-md-6">
                            <div class="about-content-wrapper">
                                <h1 class="fs-1">About Us</h1>
                                <p class="fs-4">
                                    At our blog, we believe in the power of words to inspire, inform, and transform. Our mission is to create a space where readers can find engaging and insightful content on a wide range of topics, from lifestyle and health to technology and personal development.
                                </p>
                                <h3>
                                    Our Mission:
                                </h3>
                                <p class="fs-4">
                                    Our mission is simple: to provide high-quality, thought-provoking content that adds value to our readers' lives. We strive to create articles that not only inform but also inspire our readers to think differently and explore new ideas.
                                </p>
                                <p class="fs-4"><i class="fa-solid fa-phone fs-4"></i> +91 9975424059</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
